* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
	background: url('Assets/IMG-1604.JPG') center no-repeat fixed;
	background-size: cover;
	font-size: 100%;
	justify-content: center;
}

#canvas{
	width: 500px;
	height: 100vh;
	margin: auto;
	position: relative;
	/*background-color: yellow;*/
}

#box1 {
	height: 250px;
	width: 100%;
	margin: auto;
	position:relative;
	top: 5px;
	/*background-color: red;*/
}

#box2 {
	/*background-color: green;*/
	width: 100%;
	position: relative;
	top: 0px;
}

#box3 {
	height: 5%;
	width: 20%;
	margin: auto;
	background-color: grey;	
	position: relative;
	bottom: -200px;
	/*left: 200px;*/
	/*left: 50vh;*/
	opacity: 0.5;
	text-align: center;
	border-radius: 7px;
}

p {
	text-align: center;
	color: white;
}

#slogan {
	text-transform: uppercase;
	font-size: 2em;
	font-family: 'Julius Sans One', sans-serif;
	padding: 180px 100px 0px;
}

#author {
	font-style: italic;
}

/*.hide {
  display: none;
}*/

/*.myDIV:hover + .hide {
  display: block;
  color: red;	
}*/

img {
	height: 20vh;
  display: flex;
	margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
	border-radius: 15%;
}

.appear1:hover{
	transform: scale(1.1);
	transition: all 0.7s ease-in-out;
}

.appear2:hover{
	transform: scale(1.5);
	transition: all 1.5s ease-in-out;
}

.links {
	filter: grayscale(70%);
}

ul {
  list-style-type: none;
	
}

li {
  display: inline;
}
